@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-color: #61481C;
    --primary-color: #A47E3B;
    --secondary-color: #BF9742;
    --tertiary-color: #E6B325;
    --font: "Roboto";
}

body {
    background-color: var(--bg-color);
    color: var(--tertiary-color);
}